<div>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="settings">
    <ion-item>
      <ion-title>Device Name</ion-title>
      <ion-input
        *ngIf="deviceSettings"
        type="text"
        label=""
        ngDefaultControl
        [(ngModel)]="deviceSettings.SensorID"
        text-middle

      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-title>Time</ion-title>
      <ion-input
        type="text"
        label=""
        ngDefaultControl
        [(ngModel)]="currentTime"
        text-middle

      >
      </ion-input>
    </ion-item>

    <div *ngIf="sunriseSettings">
      <ion-item>
        <ion-input
          type="number"
          label="Light Time"
          ngDefaultControl
          [(ngModel)]="sunriseSettings.SunriseLightTime"
          text-right

        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Is Activated</ion-label>
        <ion-checkbox [(ngModel)]="sunriseSettings.IsActivated"></ion-checkbox>
      </ion-item>

      <div *ngIf="sunriseSettings.IsActivated">
        <ion-item>
          <ion-label>Monday</ion-label>
          <ion-checkbox [(ngModel)]="sunriseSettings.Monday.IsActive"></ion-checkbox>
        </ion-item>
        <div *ngIf="sunriseSettings.Monday.IsActive">
          <ion-item>
            <ion-input
              type="text"
              label=""
              slot="end"
              ngDefaultControl
              [(ngModel)]="sunriseSettings.Monday.AlarmTime"
              text-right

            >
            </ion-input>
          </ion-item>
        </div>

        <ion-item>
          <ion-label>Tuesday</ion-label>
          <ion-checkbox [(ngModel)]="sunriseSettings.Tuesday.IsActive"></ion-checkbox>
        </ion-item>
        <div *ngIf="sunriseSettings.Tuesday.IsActive">
          <ion-item>
            <ion-input
              type="text"
              label=""
              slot="end"
              ngDefaultControl
              [(ngModel)]="sunriseSettings.Tuesday.AlarmTime"
              text-right

            >
            </ion-input>
          </ion-item>
        </div>

        <ion-item>
          <ion-label>Wednesday</ion-label>
          <ion-checkbox [(ngModel)]="sunriseSettings.Wednesday.IsActive"></ion-checkbox>
        </ion-item>
        <div *ngIf="sunriseSettings.Wednesday.IsActive">
          <ion-item>
            <ion-input
              type="text"
              label=""
              slot="end"
              ngDefaultControl
              [(ngModel)]="sunriseSettings.Wednesday.AlarmTime"
              text-right

            >
            </ion-input>
          </ion-item>
        </div>

        <ion-item>
          <ion-label>Thursday</ion-label>
          <ion-checkbox [(ngModel)]="sunriseSettings.Thursday.IsActive"></ion-checkbox>
        </ion-item>
        <div *ngIf="sunriseSettings.Thursday.IsActive">
          <ion-item>
            <ion-input
              type="text"
              label=""
              slot="end"
              ngDefaultControl
              [(ngModel)]="sunriseSettings.Thursday.AlarmTime"
              text-right

            >
            </ion-input>
          </ion-item>
        </div>

        <ion-item>
          <ion-label>Friday</ion-label>
          <ion-checkbox [(ngModel)]="sunriseSettings.Friday.IsActive"></ion-checkbox>
        </ion-item>
        <div *ngIf="sunriseSettings.Friday.IsActive">
          <ion-item>
            <ion-label></ion-label>
            <ion-input
              type="text"
              label=""
              slot="end"
              ngDefaultControl
              [(ngModel)]="sunriseSettings.Friday.AlarmTime"
              text-right

            >
            </ion-input>
          </ion-item>
        </div>

        <ion-item>
          <ion-label>Saturday</ion-label>
          <ion-checkbox [(ngModel)]="sunriseSettings.Saturday.IsActive"></ion-checkbox>
        </ion-item>
        <div *ngIf="sunriseSettings.Saturday.IsActive">
          <ion-item>
            <ion-label></ion-label>
            <ion-input
              type="text"
              label=""
              slot="end"
              ngDefaultControl
              [(ngModel)]="sunriseSettings.Saturday.AlarmTime"
              text-right

            >
            </ion-input>
          </ion-item>
        </div>

        <ion-item>
          <ion-label>Sunday</ion-label>
          <ion-checkbox [(ngModel)]="sunriseSettings.Sunday.IsActive"></ion-checkbox>
        </ion-item>
        <div *ngIf="sunriseSettings.Sunday.IsActive">
          <ion-item>
            <ion-label></ion-label>
            <ion-input
              type="text"
              label=""
              slot="end"
              ngDefaultControl
              [(ngModel)]="sunriseSettings.Sunday.AlarmTime"
              text-right

            >
            </ion-input>
          </ion-item>
        </div>
      </div>
      <div *ngIf="enableSave" class="save_button">
        <ion-icon name="save" size="large" (click)="clickedSave()"></ion-icon>
      </div>
    </div>
  </div>
</div>
