<div>
  <div *ngIf="ledStatus() && settings()">
    <ion-item>
      <ion-label>Device Name</ion-label>
      <ion-input
        *ngIf="deviceSettings()"
        type="text"
        [ngModel]="deviceSettings()?.SensorID"
        readonly
        text-middle
      >
      </ion-input>
    </ion-item>
    <div *ngIf="deviceSettings()?.SunriseSettings?.IsActivated">
      <ion-item>
        <ion-icon name="warning-outline" style="padding: 30px"></ion-icon>
        <ion-label color="warning">Sunrise Alarm is active </ion-label>
      </ion-item>
    </div>
    <div>
      <ion-button (click)="onPower()">
        <ion-icon name="power" slot="icon-only" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="onChangeColor()">
        <ion-icon
          name="repeat-outline"
          slot="icon-only"
          size="large"
        ></ion-icon>
      </ion-button>
    </div>
    <div *ngIf="deviceSettings() && !deviceSettings()!.SunriseSettings.IsActivated">
      <mat-form-field appearance="fill">
        <mat-label>Mode</mat-label>
        <mat-select
          (selectionChange)="onSelectChange($event.value)"
          [ngModel]="ledStatus().mode"
          [compareWith]="compareFn"
        >
          <mat-option *ngFor="let mode of ledModes" [value]="mode">
            {{ mode.id }} {{ mode.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
    </div>

    <div *ngIf="deviceSettings()?.SunriseSettings">
      <ion-range
        class="slider_brightness"
        [value]="ledStatus().brightness"
        (ionInput)="onColorInput('brightness', $event)"
        (ionKnobMoveEnd)="onSliderEnd()"
        [pinFormatter]="pinFormatter"
        [pin]="true"
      >
        <ion-icon slot="end" name="sunny-outline"></ion-icon>
      </ion-range>

      <ion-range
        class="slider_red"
        max="255"
        [value]="ledStatus().red"
        (ionInput)="onColorInput('red', $event)"
        (ionKnobMoveEnd)="onSliderEnd()"
        [pinFormatter]="colorPin"
        [pin]="true"
      >
        <ion-icon slot="end" name="sunny-outline"></ion-icon>
      </ion-range>

      <ion-range
        class="slider_green"
        max="255"
        [value]="ledStatus().green"
        (ionInput)="onColorInput('green', $event)"
        (ionKnobMoveEnd)="onSliderEnd()"
        [pinFormatter]="colorPin"
        [pin]="true"
      >
        <ion-icon slot="end" name="sunny-outline"></ion-icon>
      </ion-range>

      <ion-range
        class="slider_blue"
        max="255"
        [value]="ledStatus().blue"
        (ionInput)="onColorInput('blue', $event)"
        (ionKnobMoveEnd)="onSliderEnd()"
        [pinFormatter]="colorPin"
        [pin]="true"
      >
        <ion-icon slot="end" name="sunny-outline"></ion-icon>
      </ion-range>
      <div>
        <ion-button (click)="onButton1()">
          <ion-icon name="bulb-outline" slot="icon-only" size="large"></ion-icon>
        </ion-button>
        <ion-button (click)="onButton2()">
          <ion-icon name="bulb-outline" slot="icon-only" size="large"></ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-item>
          <ion-label>Activate Level Config</ion-label>
          <ion-checkbox [(ngModel)]="activeLevelConfiguration"></ion-checkbox>
        </ion-item>
        <div *ngIf="activeLevelConfiguration">
          <mat-form-field appearance="fill">
            <mat-label>Light Level</mat-label>
            <mat-select
              [(ngModel)]="selectedLevel"
              (selectionChange)="onSelectLevel($event.value)"
              [compareWith]="compareLevelFn"
            >
              <mat-option *ngFor="let level of lightLevels" [value]="level">
                {{ level.id }} {{ level.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <br />
      </div>

      <div *ngIf="activeLevelConfiguration">
        <ion-button (click)="onSaveColor()">
          <ion-icon name="save" slot="icon-only" size="large"></ion-icon>
        </ion-button>
      </div>
    </div>
    <hr />
    <ion-item>
      <ion-label color="medium">{{ ledStatus().message }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-note slot="end" style="font-size: 0.7rem">build {{ version }}</ion-note>
    </ion-item>
  </div>
</div>
