<ion-content>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    pullFactor="0.5"
    pullMin="80"
    pullMax="200"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="ledStatus && settings">
    <ion-item>
      <ion-title>Device Name</ion-title>
      <ion-input
        *ngIf="deviceSettings"
        type="text"
        ngDefaultControl
        [(ngModel)]="deviceSettings.SensorID"
        text-middle
        id="input"
      >
      </ion-input>
    </ion-item>
    <div
      *ngIf="
        deviceSettings &&
        deviceSettings.SunriseSettings &&
        deviceSettings.SunriseSettings.IsActivated
      "
    >
      <ion-item>
        <ion-icon name="warning-outline" style="padding: 30px"></ion-icon>
        <ion-label color="warning">Sunrise Alarm is active </ion-label>
      </ion-item>
    </div>
    <div>
      <ion-button [disabled]="!isReady" (click)="onPower()">
        <ion-icon name="power" slot="icon-only" size="large"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!isReady" (click)="onChangeColor()">
        <ion-icon
          name="repeat-outline"
          slot="icon-only"
          size="large"
        ></ion-icon>
      </ion-button>
    </div>
    <div *ngIf="deviceSettings && !deviceSettings.SunriseSettings.IsActivated">
      <mat-form-field appearance="fill">
        <mat-label>Mode</mat-label>
        <mat-select
          (selectionChange)="onSelectChange($event.value)"
          [(ngModel)]="ledStatus.mode"
          [compareWith]="compareFn"
        >
          <mat-option *ngFor="let mode of ledModes" [value]="mode">
            {{ mode.id }} {{ mode.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
    </div>

    <div *ngIf="deviceSettings && deviceSettings.SunriseSettings">
      <ion-range
        [disabled]="!isReady"
        class="slider_brightness"
        (ionKnobMoveEnd)="onSliderChange($event)"
        [(ngModel)]="ledStatus.brightness"
        [pinFormatter]="pinFormatter"
        [pin]="true"
      >
        <ion-icon slot="end" name="sunny-outline"></ion-icon>
      </ion-range>

      <ion-range
        [disabled]="!isReady"
        class="slider_red"
        (ionKnobMoveEnd)="onSliderChange($event)"
        [(ngModel)]="ledStatus.red"
        [pinFormatter]="pinFormatter"
        [pin]="true"
      >
        <ion-icon slot="end" name="sunny-outline"></ion-icon>
      </ion-range>

      <ion-range
        [disabled]="!isReady"
        class="slider_green"
        (ionKnobMoveEnd)="onSliderChange($event)"
        [(ngModel)]="ledStatus.green"
        [pinFormatter]="pinFormatter"
        [pin]="true"
      >
        <ion-icon slot="end" name="sunny-outline"></ion-icon>
      </ion-range>

      <ion-range
        [disabled]="!isReady"
        class="slider_blue"
        (ionKnobMoveEnd)="onSliderChange($event)"
        [(ngModel)]="ledStatus.blue"
        [pinFormatter]="pinFormatter"
        [pin]="true"
      >
        <ion-icon slot="end" name="sunny-outline"></ion-icon>
      </ion-range>
      <div>
        <ion-button
          [disabled]="!isReady || !enableSaveButton"
          (click)="onButton1()"
        >
          <ion-icon name="bulb-outline" slot="icon-only" size="large"></ion-icon>
        </ion-button>
        <ion-button
          [disabled]="!isReady || !enableSaveButton"
          (click)="onButton2()"
        >
          <ion-icon name="bulb-outline" slot="icon-only" size="large"></ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-item>
          <ion-label>Activate Level Config</ion-label>
          <input [(ngModel)]="activeLevelConfiguration" type="checkbox" />
        </ion-item>
        <div *ngIf="activeLevelConfiguration">
          <mat-form-field appearance="fill">
            <mat-label>Light Level</mat-label>
            <mat-select
              [(ngModel)]="selectedLevel"
              (selectionChange)="onSelectLevel($event.value)"
              [compareWith]="compareLevelFn"
            >
              <mat-option *ngFor="let level of lightLevels" [value]="level">
                {{ level.id }} {{ level.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <br />
      </div>

      <div *ngIf="activeLevelConfiguration">
        <ion-button
          [disabled]="!isReady || !enableSaveButton"
          (click)="onSaveColor()"
        >
          <ion-icon name="save" slot="icon-only" size="large"></ion-icon>
        </ion-button>
      </div>
    </div>
    <hr />
    <ion-item>
      <ion-label color="medium">{{ ledStatus.message }}</ion-label>
    </ion-item>
  </div>
</ion-content>
