<div>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="settings">
    <ion-item lines="inset">
      <ion-title>Address</ion-title>
    </ion-item>
    <ion-item>
      <ion-select
        [compareWith]="compareDevice"
        placeholder="Select Device"
        [(ngModel)]="this.connectedDevice"
        (ionChange)="onSelect()"
      >
        <ion-select-option
          *ngFor="let item of settings.KnownDevices"
          [value]="item"
          >{{ item.Name }} ({{ item.Address }})
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        ngDefaultControl
        placeholder="New Device Address"
        text-right

        (ionBlur)="onAddressChanged($event)"
      ></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-title>Device Settings</ion-title>
    </ion-item>
    <br />

    <div *ngIf="deviceConfig">
      <ion-button id="present-alert" fill="outline">Reset WiFi</ion-button>
      <ion-alert
        trigger="present-alert"
        header="Are you sure?"
        message="This will reset your WiFi settings. Your device will create an Access-Point with the name 'Enlighted' and password 'enlighten-me.'"
        [buttons]="alertButtons"
      ></ion-alert>
      <ion-item>
        <ion-label>Device Name</ion-label>
        <ion-input
          slot="end"
          label=""
          type="text"
          ngDefaultControl
          [(ngModel)]="deviceConfig.SensorID"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>ServerAddress</ion-label>
        <ion-input
          slot="end"
          type="text"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.ServerAddress"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>WiFiName</ion-label>
        <ion-input
          slot="end"
          type="text"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.WiFiName"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>WiFiPassword</ion-label>
        <ion-input
          slot="end"
          type="password"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.WiFiPassword"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>ShowWebpage</ion-label>
        <input [(ngModel)]="deviceConfig.ShowWebpage" type="checkbox" />
      </ion-item>
      <ion-item>
        <ion-label>IsConfigured</ion-label>
        <input [(ngModel)]="deviceConfig.IsConfigured" type="checkbox" />
      </ion-item>

      <ion-item>
        <ion-label>IsOfflineMode</ion-label>
        <input [(ngModel)]="deviceConfig.IsOfflineMode" type="checkbox" />
      </ion-item>

      <ion-item>
        <ion-label>Button1</ion-label>
        <ion-input
          slot="end"
          type="number"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.Button1"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Button2</ion-label>
        <ion-input
          slot="end"
          type="number"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.Button2"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="deviceConfig.Button2 > 0">
        <ion-label>Button2GetURL</ion-label>
        <ion-input
          slot="end"
          type="text"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.Button2GetURL"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>NumberOfLEDs</ion-label>
        <ion-input
          slot="end"
          type="number"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.NumberOfLEDs"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="deviceConfig.NumberOfLEDs > 0">
        <ion-label>LEDPin</ion-label>
        <ion-input
          slot="end"
          type="number"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.LEDPin"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>FindSensors</ion-label>
        <input [(ngModel)]="deviceConfig.FindSensors" type="checkbox" />
      </ion-item>
      <ion-item *ngIf="deviceConfig.FindSensors">
        <ion-label>DhtPin</ion-label>
        <ion-input
          slot="end"
          type="number"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.DhtPin"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="deviceConfig.FindSensors">
        <ion-label>SerialRX</ion-label>
        <ion-input
          slot="end"
          type="number"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.SerialRX"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="deviceConfig.FindSensors">
        <ion-label>SerialTX</ion-label>
        <ion-input
          slot="end"
          type="number"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.SerialTX"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>WindSensorPin</ion-label>
        <ion-input
          slot="end"
          type="number"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.WindSensorPin"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>RainfallSensorPin</ion-label>
        <ion-input
          slot="end"
          type="number"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.RainfallSensorPin"
          text-right

        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>UseMQTT</ion-label>
        <input [(ngModel)]="deviceConfig.UseMQTT" type="checkbox" />
      </ion-item>
      <ion-item *ngIf="deviceConfig.UseMQTT">
        <ion-label>MQTTPort</ion-label>
        <ion-input
          slot="end"
          type="number"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.MQTTPort"
          text-right

        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="deviceConfig.UseMQTT">
        <ion-label>MQTTTopic</ion-label>
        <ion-input
          slot="end"
          type="text"
          label=""
          ngDefaultControl
          [(ngModel)]="deviceConfig.MQTTTopic"
          text-right

        >
        </ion-input>
      </ion-item>
      <div class="save_button" *ngIf="enableSave">
        <ion-icon
          name="save"
          size="large"
          (click)="clickedApplyDeviceConfig()"
        ></ion-icon>
        <ion-icon
          name="sync-circle-outline"
          size="large"
          (click)="clickedRestart()"
        ></ion-icon>
      </div>
    </div>
  </div>
</div>
