<div>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="settings">
    <ion-item lines="inset">
      <ion-title>Address</ion-title>
    </ion-item>
    <ion-item>
      <ion-select
        [compareWith]="compareDevice"
        placeholder="Select Device"
        [(ngModel)]="this.connectedDevice"
        (ionChange)="onSelect()"
      >
        <ion-select-option
          *ngFor="let item of settings.KnownDevices"
          [value]="item"
          >{{ item.Name }} ({{ item.Address }})
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        ngDefaultControl
        placeholder="New Device Address"
        text-right

        (ionBlur)="onAddressChanged($event)"
      ></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-title>Known Devices</ion-title>
    </ion-item>
    <ion-item *ngFor="let item of settings.KnownDevices">
      <ion-label>{{ item.Name }} ({{ item.Address }})</ion-label>
      <ion-button
        slot="end"
        fill="clear"
        color="danger"
        (click)="confirmRemoveDevice(item)"
      >
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="inset">
      <ion-title>Device Settings</ion-title>
    </ion-item>
    <br />

    <div *ngIf="deviceConfig">
      <ion-button id="present-alert" fill="outline">Reset WiFi</ion-button>
      <ion-alert
        trigger="present-alert"
        header="Are you sure?"
        message="This will reset your WiFi settings. Your device will create an Access-Point with the name 'Enlighted' and password 'enlighten-me.'"
        [buttons]="alertButtons"
      ></ion-alert>
      <ng-container *ngFor="let field of fieldDefs">
        <ion-item *ngIf="isFieldVisible(field)">
          <ion-label>{{ field.label }}</ion-label>
          <ion-checkbox
            *ngIf="field.type === 'checkbox'"
            [ngModel]="$any(deviceConfig)[field.key]"
            (ngModelChange)="$any(deviceConfig)[field.key] = $event"
          ></ion-checkbox>
          <ion-input
            *ngIf="field.type !== 'checkbox'"
            slot="end"
            [type]="field.type"
            label=""
            ngDefaultControl
            [ngModel]="$any(deviceConfig)[field.key]"
            (ngModelChange)="$any(deviceConfig)[field.key] = $event"
            text-right
          ></ion-input>
        </ion-item>
      </ng-container>
      <div class="save_button" *ngIf="enableSave">
        <ion-icon
          name="save"
          size="large"
          (click)="clickedApplyDeviceConfig()"
        ></ion-icon>
        <ion-icon
          name="sync-circle-outline"
          size="large"
          (click)="clickedRestart()"
        ></ion-icon>
      </div>
    </div>
  </div>
</div>
